.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

body {
  margin: 0rem;
  padding: 0rem;
}

.login .formGroup {
  height: 5rem;
  margin-top: 1rem;
  display: flex;
}

.formLogin {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 420px;
  box-shadow: 20px 40px 60px 20px rgba(12, 5, 62, 0.15);
  margin: 100px;
  padding: 30px;
  padding-top: 60px;

  justify-content: space-between ;
  align-items: center;

}
.formLogin h1 {
  text-align: center;
}

.formLogin .btn {
  width: 100px;
}

.login .btn {
  margin-top: 1.5rem;
  height: 3rem;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 540px;
  box-shadow: 20px 40px 60px 20px rgba(12, 5, 62, 0.15);
  margin: 100px;
  padding: 30px;
  padding-top: 90px;

  justify-content: space-between ;
  align-items: center;

}

.registrationForm .btn {
  width: 100px;
}
.usersBase {
  width: 70%;
  min-width: 700px;
  box-shadow: 20px 40px 60px 20px rgba(12, 5, 62, 0.15);
  padding-bottom: 0%;
  margin-top: 5%;
}

.table {
  margin-bottom: 0%;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  align-items:baseline
}

.logoutbtn {
  margin-left: auto;
  height: 5%;
}

.unlocked {
  color: #17a2b8;
}

.blocked {
  color: #dc3545;
}

